*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:antiquewhite;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #750E21;
    height:90px;
}
.brand{
    font-style: italic;
    font-size: 2rem;
    font-weight: 900;
    margin-left: 2px;
    color: #BED754;
}
.nav{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:left;


}
.nav li{
    background-color: #E3651D;
    margin-right: 5px;
    padding: 1px auto;

}
.nav a{
    text-decoration: none;
    display: inline-block;
    width: 75px;
    padding: 2px;
    text-align: center;
    color: #BED754;
    border: solid 1px black;
}
a:hover{
    background-color: azure;
}
  .container
{
    display: block;
    width: 97.5%;
    margin: 0 auto;
}

  
  /* The close button */
  .nav li button
  {
      padding: .5rem .5rem;
      background-color: #E91E63;
      border-top-right-radius:.25rem;
      border-bottom-right-radius:.25rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-width:0;
      color: #FFFFFF;
  }
  .products {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 24px;
      column-gap: 16px;
      row-gap: 16px;
  }
  .box {
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border: solid 1px #ccc;
      border-top-right-radius: .5rem;
      border-top-left-radius: .5rem;
  }
  .box img {
      width: 250px;
      border-top-right-radius: .5rem;
      border-top-left-radius: .5rem;
  }
  .box div{
      width: 100%;
      padding: 4px;
  }
  .name
  {
      text-align: center;
      font-weight: 500;
  }
  .price {
      text-align: right;
      font-weight: 700;
  }
  .desc {
      text-align: center;
  }
  .add {
      text-align: right;
  }
  .box button
  {
      padding: .25rem .5rem;
  }
  .list 
  {
     
     list-style: none;
    padding: 0;
   
    
     
  }
  .list-head
  {
     padding: 5px 10px;
    background-color: #F8BBD0;
    margin-bottom: 1px;
    font-weight: 700;
    text-align: center;
    width: 100%;
  }
  .list li
  {
    padding: 5px 10px;
    background-color: #F8BBD0;
   margin-bottom: 1px;
    
  }
  .mlist 
  {
    list-style: none;
    padding: 0;
   
  }
  .mlist li
  {
    padding: 5px 10px;
    background-color: #F8BBD0;
       margin-bottom: 1px;
    
  }
  /* grid */
  .c1
  {
      display: flex;
      justify-content: left;
      padding: .5rem;
      gap: .5rem;
  }
  .c1-1
  {
      display: grid;
      grid-template-columns:1fr 1fr;
      padding: .5rem;
      gap: .5rem;
  }
  .c1-2
  {
      display: grid;
      grid-template-columns:1fr 3fr;
      padding: .5rem;
      column-gap: .5rem;
  }
  .c2-1
  {
      display: grid;
      grid-template-columns:2fr 1fr;
      padding: .5rem;
      column-gap: .5rem;
  }
  .c4
  {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: .5rem;
      column-gap: .5rem;
  }
  .mt
  {
      margin-top: 5px;
  }
  .mb
  {
      margin-bottom: C2185Bpx;
  }
  .msgs
  {
      height: 300px;
      min-height: 300px;
      overflow: scroll;
  }
  .shares
  {
      height: 200px;
      min-height: 200px;
      overflow: scroll;
  }
  /* form */
  .field
  {
      display: grid;
      grid-template-columns: 1fr;
      padding: .5rem;
  }
  .input-log
  {
      width: 90px;
      padding: .5rem .25rem;
      border: solid 1px #BDBDBD;
      border-radius: .25rem;
      margin-right: .25rem;
  }
  .input-log1
  {
      width: 90px;
      padding: .5rem .25rem;
      border: solid 1px #BDBDBD;
      border-right-width: 0;
      border-top-right-radius:0;
      border-bottom-right-radius:0;
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem;
      margin-right: 0;
  }
  .input
  {
      width: 100%;
      padding: .5rem .25rem;
      border: solid 1px #BDBDBD;
      border-radius: .25rem;
  }
  .input-start
  {
      width: 100%;
      padding: .5rem .25rem;
      border: solid 1px #BDBDBD;
      /*border-right-width: 0;*/
      border-top-left-radius: .25rem;
      border-bottom-left-radius:.25rem;
  }
  .btn-middle
  {
      padding: .5rem 1.75rem;
      border: solid 1px #BDBDBD;
      border-left-width: 0;
      ;
     
  }
  .btn-end
  {
      padding: .5rem 1.75rem;
      border: solid 1px #BDBDBD;
      border-left-width:0;
      border-top-right-radius: .25rem;
      border-bottom-right-radius:.25rem;
  }
  .btn{
      padding: .5rem 1.75rem;
      border: solid 1px #de72ef;
      background-color: #3f0b7d;
        color: #ecf0f1;
  }
  .btn-del{
      padding: .5rem 1.75rem;
      border: solid 1px #de72ef;
      background-color: #d67718;
        color: #ecf0f1;
  }
  /* .btn-primary
  {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 20px;  
      border: solid 1px #BDBDBD;
      background-color: #750E21;
        color: #ecf0f1;
  } */
  /* alert*/
  .alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
  .error {
      color: red;
      font-size: small;
  }
  .circle-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
  }
  /* table */
  .table
  {
      width: 100%;
      border-collapse: collapse;
      border: #750E21 solid 1px;
  }
  .table th, td {
      border: #750E21 solid 1px;
      padding: 8px;
  }
  .table th {
      border-bottom: #750E21 solid 3px;
  }
  .btn-primary {
    appearance: button;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #482307;
    column-gap: 1rem;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 100%;
    font-weight: 700;
    line-height: 4px;
    margin: 0;
    outline: 2px solid transparent;
    padding: 1rem 1.5rem;
    text-align: center;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
  }
  
  .btn-primary:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
    transform: translateY(0.125rem);
  }
  
  .btn-primary:focus {
    box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
  }